{%extends "base.html"%}

{%block style %}
{{ super() }}
<link href="/assets/style/style.css" rel="stylesheet" media="screen">
{%endblock%}

{%block content%}
<table class="table table-striped" id="ingredients">
  <thead>
    <tr>
      <th class="span10">
	Word Sequence
      </th>
      <th class="span2">
	Operation
      </th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr class="sentence" key="{{row.key()}}">
      <td>
	{% for word in row.content%}
	<div class="btn-group ingredient" >
	  <button class="btn dropdown-toggle ing-name" data-toggle="dropdown" href="#">
	    {{ word }}
	    <!--<span class="caret"></span>-->
	  </button>
	</div>
	{% endfor %}
      </td>
      <td>
        <button class="btn btn-primary btn-small">
	  Submit
        </button>
        <button class="btn btn-small">
	  Ignore
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{%endblock%}

{%block js%}
{{ super() }}
<script src="/assets/js/utility.js"></script>

<script src="/assets/js/jquery.keynav.js"></script>

<script src="/assets/js/jquery.tag.js"></script>
<script src="/assets/js/jquery.keytag.js"></script>

<script src="/assets/js/jquery.splitword.js"></script>
<script src="/assets/js/jquery.mergeword.js"></script>

<script src="/assets/js/jquery.keyoper.js"></script>

<script src="/assets/js/coarse.js"></script>

{%endblock%}
