{%extends "base.html"%}

{%block style %}
{{ super() }}
<link href="style/style.css" rel="stylesheet" media="screen">
{%endblock%}

{%block content%}
<table class="table table-striped" id="ingredients">
  <thead>
    <tr>
      <th class="span10">
	Word Sequence
      </th>
      <th class="span2">
	Operation
      </th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td>
	{% for word in row.content%}
	<div class="btn-group ingredient">
	  <button class="btn dropdown-toggle ing-name" data-toggle="dropdown" href="#">
	    {{ word }}
	    <span class="caret"></span>
	  </button>
	</div>
	{% endfor %}
      </td>
      <td>
        <button class="btn btn-primary btn-small">
	  Submit
        </button>
        <button class="btn btn-small">
	  Ignore
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{%endblock%}

{%block js%}
{{ super() }}
<script src="js/coarse.js"></script>
{%endblock%}
